.markdown-section 
    font-family: PingFangSC, "Helvetica Neue", "Hiragino Sans GB", Arial, "Microsoft Yahei UI", "Microsoft Yahei", Simsun, Sans

    h1 
        font-weight: 700
        margin-bottom: 2em
    

    h4 
        margin-top: 1.5em
        margin-bottom: .5em
    
